################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MhrsWebApi/.vs
/MhrsWebApi/MhrsWebApi.Application/obj
/MhrsWebApi/MhrsWebApi.Application/bin/Debug/net8.0
/MhrsWebApi/MhrsWebApi.Application.Contract/bin/Debug/net8.0
/MhrsWebApi/MhrsWebApi.Application.Contract/obj
/MhrsWebApi/MhrsWebApi.Domain/bin/Debug/net8.0
/MhrsWebApi/MhrsWebApi.Domain/obj
/MhrsWebApi/MhrsWebApi.EntityFramework/bin/Debug/net8.0
/MhrsWebApi/MhrsWebApi.EntityFramework/obj
/MhrsWebApi/MhrsWebApi.Host/bin/Debug/net8.0
/MhrsWebApi/MhrsWebApi.Host/logs
/MhrsWebApi/MhrsWebApi.Host/obj
/MhrsWebApi/MhrsWebApi.HttpClient/obj


# Sanal Ortamlar
venv/
env/
.env/
.venv/

# Önbellek ve Derlenmiş Dosyalar
__pycache__/
*.py[cod]
*$py.class

# Editör Ayarları
.vscode/
.idea/

# Veritabanı ve Büyük Dosyalar (Kendi projene göre uyarla)
*.sqlite3
*.db
*.csv
*.mp4
*.log

# Çevresel Değişkenler (Şifrelerin sızmaması için çok önemli)
.env