USE [MhrsDB]
GO
/****** Object:  Table [dbo].[AvailableAppointment]    Script Date: 10.05.2026 21:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvailableAppointment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentDate] [datetime] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[SystemDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AvailableAppointment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 10.05.2026 21:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[SystemDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 10.05.2026 21:03:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SystemDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAppointment]    Script Date: 10.05.2026 21:03:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAppointment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[AvailableAppointmentId] [int] NOT NULL,
	[SystemDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserAppointment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AvailableAppointment] ADD  CONSTRAINT [DF_AvailableAppointment_SystemDate]  DEFAULT (getdate()) FOR [SystemDate]
GO
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [DF_Department_SystemDate]  DEFAULT (getdate()) FOR [SystemDate]
GO
ALTER TABLE [dbo].[Doctor] ADD  CONSTRAINT [DF_Doctor_SystemDate]  DEFAULT (getdate()) FOR [SystemDate]
GO
ALTER TABLE [dbo].[UserAppointment] ADD  CONSTRAINT [DF_UserAppointment_UserId]  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[UserAppointment] ADD  CONSTRAINT [DF_UserAppointment_SystemDate]  DEFAULT (getdate()) FOR [SystemDate]
GO
ALTER TABLE [dbo].[AvailableAppointment]  WITH CHECK ADD  CONSTRAINT [FK_AvailableAppointment_AvailableAppointment] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[AvailableAppointment] CHECK CONSTRAINT [FK_AvailableAppointment_AvailableAppointment]
GO
ALTER TABLE [dbo].[AvailableAppointment]  WITH CHECK ADD  CONSTRAINT [FK_AvailableAppointment_Doctor] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctor] ([Id])
GO
ALTER TABLE [dbo].[AvailableAppointment] CHECK CONSTRAINT [FK_AvailableAppointment_Doctor]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Department]
GO
ALTER TABLE [dbo].[UserAppointment]  WITH CHECK ADD  CONSTRAINT [FK_UserAppointment_AvailableAppointment] FOREIGN KEY([AvailableAppointmentId])
REFERENCES [dbo].[AvailableAppointment] ([Id])
GO
ALTER TABLE [dbo].[UserAppointment] CHECK CONSTRAINT [FK_UserAppointment_AvailableAppointment]
GO
